/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Quick;
  src: url(./lib/assets/Quicksand/Quicksand-Light.woff);
}